collector-workflow.json
{
  "name": "Inflection Point - Data Collector",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "inflection-point", "id": "1" },
    { "name": "newsletter", "id": "2" }
  ],
  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "weekday", "weekday": 0, "hour": 21, "minute": 0 }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": { "url": "https://www.anthropic.com/rss.xml", "limit": 6 },
      "id": "node-rss-anthropic",
      "name": "RSS — Anthropic Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 100]
    },
    {
      "parameters": { "url": "https://huggingface.co/blog/feed.xml", "limit": 6 },
      "id": "node-rss-huggingface",
      "name": "RSS — Hugging Face",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 180]
    },
    {
      "parameters": { "url": "https://www.technologyreview.com/feed/", "limit": 5 },
      "id": "node-rss-mit",
      "name": "RSS — MIT Tech Review AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 260]
    },
    {
      "parameters": { "url": "https://www.therundown.ai/rss", "limit": 6 },
      "id": "node-rss-rundown",
      "name": "RSS — The Rundown AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 340]
    },
    {
      "parameters": { "url": "https://www.producthunt.com/feed?category=artificial-intelligence", "limit": 8 },
      "id": "node-rss-producthunt",
      "name": "RSS — Product Hunt",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 420]
    },
    {
      "parameters": { "url": "https://techcrunch.com/category/artificial-intelligence/feed/", "limit": 5 },
      "id": "node-rss-techcrunch",
      "name": "RSS — TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 500]
    },
    {
      "parameters": { "url": "https://www.wired.com/feed/tag/artificial-intelligence/latest/rss", "limit": 4 },
      "id": "node-rss-wired",
      "name": "RSS — Wired AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [500, 580]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "language:python stars:>100 created:>={{ $moment().subtract(7, 'days').format('YYYY-MM-DD') }}" },
            { "name": "sort", "value": "stars" },
            { "name": "order", "value": "desc" },
            { "name": "per_page", "value": "6" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Accept", "value": "application/vnd.github.v3+json" },
          { "name": "User-Agent", "value": "inflection-point-newsletter" }
        ]
      },
      "id": "node-github-python",
      "name": "HTTP — GitHub Trending Python",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 660]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "stars:>200 created:>={{ $moment().subtract(7, 'days').format('YYYY-MM-DD') }} topic:ai OR topic:llm OR topic:machine-learning" },
            { "name": "sort", "value": "stars" },
            { "name": "order", "value": "desc" },
            { "name": "per_page", "value": "8" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Accept", "value": "application/vnd.github.v3+json" },
          { "name": "User-Agent", "value": "inflection-point-newsletter" }
        ]
      },
      "id": "node-github-all",
      "name": "HTTP — GitHub Trending (All/AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 740]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "language:javascript topic:ai created:>={{ $moment().subtract(7, 'days').format('YYYY-MM-DD') }}" },
            { "name": "sort", "value": "stars" },
            { "name": "order", "value": "desc" },
            { "name": "per_page", "value": "5" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Accept", "value": "application/vnd.github.v3+json" },
          { "name": "User-Agent", "value": "inflection-point-newsletter" }
        ]
      },
      "id": "node-github-javascript",
      "name": "HTTP — GitHub Trending JavaScript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 820]
    },
    {
      "parameters": {
        "jsCode": "// Combine all RSS feeds and GitHub data into one raw_content string\n\nconst rssNodes = [\n  $('RSS — Anthropic Blog').all(),\n  $('RSS — Hugging Face').all(),\n  $('RSS — MIT Tech Review AI').all(),\n  $('RSS — The Rundown AI').all(),\n  $('RSS — Product Hunt').all(),\n  $('RSS — TechCrunch AI').all(),\n  $('RSS — Wired AI').all()\n];\n\nlet combined = '';\n\nconst formatRSS = (items, sourceName) => {\n  if (!items || items.length === 0) return '';\n  let out = `=== SOURCE: ${sourceName} ===\\n`;\n  for (const item of items) {\n    const title = item.json.title || '';\n    const link = item.json.link || '';\n    const snippet = (item.json.contentSnippet || item.json.description || '').substring(0, 200);\n    const pubDate = item.json.pubDate || '';\n    out += `${title} | ${link} | ${snippet} | ${pubDate}\\n`;\n  }\n  return out + '\\n';\n};\n\ncombined += formatRSS(rssNodes[0], 'Anthropic Blog');\ncombined += formatRSS(rssNodes[1], 'Hugging Face Blog');\ncombined += formatRSS(rssNodes[2], 'MIT Technology Review');\ncombined += formatRSS(rssNodes[3], 'The Rundown AI');\ncombined += formatRSS(rssNodes[4], 'Product Hunt AI');\ncombined += formatRSS(rssNodes[5], 'TechCrunch AI');\ncombined += formatRSS(rssNodes[6], 'Wired AI');\n\n// GitHub data\nconst githubPython = $('HTTP — GitHub Trending Python').all().map(item => item.json);\nconst githubAll = $('HTTP — GitHub Trending (All/AI)').all().map(item => item.json);\nconst githubJs = $('HTTP — GitHub Trending JavaScript').all().map(item => item.json);\n\nconst formatGitHub = (items, sourceName) => {\n  if (!items || items.length === 0) return '';\n  let out = `=== SOURCE: ${sourceName} ===\\n`;\n  for (const item of items) {\n    const name = item.items?.[0]?.name || 'unknown';\n    const stars = item.items?.[0]?.stargazers_count || 0;\n    const url = item.items?.[0]?.html_url || '';\n    const desc = (item.items?.[0]?.description || 'No description').substring(0, 150);\n    out += `${name} ★${stars} | ${url} | ${desc}\\n`;\n  }\n  return out + '\\n';\n};\n\ncombined += formatGitHub(githubPython, 'GitHub Trending (Python)');\ncombined += formatGitHub(githubAll, 'GitHub Trending (All/AI)');\ncombined += formatGitHub(githubJs, 'GitHub Trending (JavaScript)');\n\nreturn {\n  raw_content: combined,\n  collection_timestamp: new Date().toISOString(),\n  source_count: 11\n};"
      },
      "id": "node-combine-code",
      "name": "Code — Combine All Raw Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "⚠️_REPLACE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "raw_content" },
        "options": { "range": "raw_content!A:C" },
        "fieldsToSend": "autoMapInputData",
        "columns": {
          "timestamp": "={{ $json.collection_timestamp }}",
          "raw_content": "={{ $json.raw_content }}",
          "source_count": "={{ $json.source_count }}"
        }
      },
      "id": "node-google-sheets",
      "name": "Google Sheets — Write Raw Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1550, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "⚠️_REPLACE_CREDENTIAL_ID",
          "name": "⚠️_REPLACE_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        { "node": "RSS — Anthropic Blog", "type": "main", "index": 0 },
        { "node": "RSS — Hugging Face", "type": "main", "index": 0 },
        { "node": "RSS — MIT Tech Review AI", "type": "main", "index": 0 },
        { "node": "RSS — The Rundown AI", "type": "main", "index": 0 },
        { "node": "RSS — Product Hunt", "type": "main", "index": 0 },
        { "node": "RSS — TechCrunch AI", "type": "main", "index": 0 },
        { "node": "RSS — Wired AI", "type": "main", "index": 0 },
        { "node": "HTTP — GitHub Trending Python", "type": "main", "index": 0 },
        { "node": "HTTP — GitHub Trending (All/AI)", "type": "main", "index": 0 },
        { "node": "HTTP — GitHub Trending JavaScript", "type": "main", "index": 0 }
      ]]
    },
    "HTTP — GitHub Trending Python": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "HTTP — GitHub Trending (All/AI)": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "HTTP — GitHub Trending JavaScript": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — Anthropic Blog": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — Hugging Face": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — MIT Tech Review AI": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — The Rundown AI": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — Product Hunt": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — TechCrunch AI": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "RSS — Wired AI": { "main": [[ { "node": "Code — Combine All Raw Content", "type": "main", "index": 0 } ]] },
    "Code — Combine All Raw Content": { "main": [[ { "node": "Google Sheets — Write Raw Content", "type": "main", "index": 0 } ]] }
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false }
}
