newsletter-workflow.json
{
  "name": "Inflection Point - Newsletter Sender",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "inflection-point", "id": "1" },
    { "name": "newsletter", "id": "2" }
  ],
  "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "weekday", "weekday": 1, "hour": 7, "minute": 0 }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "⚠️_REPLACE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "user_profile" },
        "options": { "range": "user_profile!A:K" }
      },
      "id": "node-read-profiles",
      "name": "Google Sheets — Read All User Profiles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [550, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "⚠️_REPLACE_CREDENTIAL_ID",
          "name": "⚠️_REPLACE_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "⚠️_REPLACE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "raw_content" },
        "options": { "range": "raw_content!A:C" }
      },
      "id": "node-read-raw-content",
      "name": "Google Sheets — Read Latest Raw Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [550, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "⚠️_REPLACE_CREDENTIAL_ID",
          "name": "⚠️_REPLACE_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "node-split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system-prompt",
              "name": "system_prompt",
              "value": "You are INFLECTION POINT... [your same long prompt; keep unchanged]",
              "type": "string"
            },
            {
              "id": "user-prompt",
              "name": "user_prompt",
              "value": "=== READER PROFILE ===\nName: {{ $json.first_name }}\nWhat they do: {{ $json.focus }}\nGoals right now: {{ $json.goals }}\nAI skill level: {{ $json.skill_level }}\nTools they already use: {{ $json.tools_using || 'Not specified' }}\nTopics they want to track: {{ $json.industries }}\nNever include: {{ $json.exclude || 'None specified' }}\nStyle directive: {{ $json.style_anchor }}\nThis week's context: {{ $json.weekly_context || 'No additional context provided' }}\n\n=== RAW CONTENT THIS WEEK ===\n{{ $('Google Sheets — Read Latest Raw Content').first().json.raw_content }}\n\n=== YOUR TASK ===\n[rest of prompt unchanged]",
              "type": "string"
            },
            {
              "id": "user_email",
              "name": "user_email",
              "value": "{{ $json.email }}",
              "type": "string"
            },
            {
              "id": "user_name",
              "name": "user_name",
              "value": "{{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "exclude_keywords",
              "name": "exclude_keywords",
              "value": "{{ $json.exclude }}",
              "type": "string"
            },
            {
              "id": "industries",
              "name": "industries",
              "value": "{{ $json.industries }}",
              "type": "string"
            },
            {
              "id": "skill_level",
              "name": "skill_level",
              "value": "{{ $json.skill_level }}",
              "type": "string"
            },
            {
              "id": "style_anchor",
              "name": "style_anchor",
              "value": "{{ $json.style_anchor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-build-prompt",
      "name": "Set — Build Dynamic Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "claude-3-5-sonnet-20241022" },
            { "name": "max_tokens", "value": 4096 },
            { "name": "system", "value": "{{ $json.system_prompt }}" },
            { "name": "messages", "value": "[{\"role\": \"user\", \"content\": \"{{ $json.user_prompt }}\"}]" }
          ]
        },
        "options": {}
      },
      "id": "node-claude-api",
      "name": "HTTP Request — Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "claude_output", "value": "{{ $json.content[0].text }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-extract-response",
      "name": "Set — Extract Claude Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Quality check logic\nconst claudeOutput = $input.first().json.claude_output;\nconst userName = $input.first().json.user_name;\nconst excludeStr = $input.first().json.exclude_keywords || '';\n\nconst checkName = claudeOutput.includes(userName);\nconst checkLength = claudeOutput.length > 800;\n// Check for at least two section headers (simplified)\nconst checkSections = (claudeOutput.match(/letter-spacing:0\\.12em/g) || []).length >= 2;\n\nlet checkExclude = true;\nif (excludeStr) {\n  const exclusions = excludeStr.toLowerCase().split(',').map(s => s.trim()).filter(s => s);\n  const outputLower = claudeOutput.toLowerCase();\n  checkExclude = !exclusions.some(ex => outputLower.includes(ex));\n}\n\nconst overallQuality = checkName && checkLength && checkSections && checkExclude;\n\nreturn {\n  claude_output: claudeOutput,\n  user_name: userName,\n  user_email: $input.first().json.user_email,\n  check_name: checkName,\n  check_length: checkLength,\n  check_sections: checkSections,\n  check_exclude: checkExclude,\n  overall_quality: overallQuality\n};"
      },
      "id": "node-quality-code",
      "name": "Code — Quality Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "{{ $json.overall_quality }}", "operation": "equals", "value2": true }
          ]
        }
      },
      "id": "node-if-quality",
      "name": "IF — Route on Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2350, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "full_email_html",
              "value": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"color-scheme\" content=\"dark\">\n  <title>Inflection Point</title>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;font-family:'Inter',system-ui,-apple-system,sans-serif;\">\n<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;color:#0a0a0a;\">Your weekly AI briefing, built for you. Inflection Point — {{ $moment().startOf('week').add(1, 'day').format('MMMM D, YYYY') }}</div>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#0a0a0a;\">\n  <tr>\n    <td align=\"center\" style=\"padding:40px 16px;\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px;width:100%;\">\n        <tr>\n          <td style=\"padding-bottom:32px;\">\n            <p style=\"margin:0 0 4px 0;font-size:22px;font-weight:800;color:#6c63ff;letter-spacing:0.18em;text-transform:uppercase;font-family:Inter,system-ui,sans-serif;\">INFLECTION POINT</p>\n            <p style=\"margin:0 0 2px 0;font-size:12px;color:#8a8fa8;letter-spacing:0.05em;font-family:Inter,system-ui,sans-serif;\">AI intelligence, curved to you.</p>\n            <p style=\"margin:0 0 20px 0;font-size:12px;color:#8a8fa8;font-family:Inter,system-ui,sans-serif;\">Week of {{ $moment().startOf('week').add(1, 'day').format('MMMM D, YYYY') }}</p>\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr><td style=\"border-top:1px solid #1e2030;font-size:0;\">&nbsp;</td></tr>\n            </table>\n          </td>\n        </tr>\n        <tr>\n          <td style=\"background-color:#111318;border-radius:16px;padding:36px 32px;border:1px solid #1e2030;\">\n            {{ $json.claude_output }}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:28px 0 0 0;\">\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr><td style=\"border-top:1px solid #1e2030;font-size:0;\">&nbsp;</td></tr>\n            </table>\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:24px 0 40px 0;text-align:center;\">\n            <p style=\"margin:0 0 4px 0;font-size:11px;font-weight:700;color:#6c63ff;letter-spacing:0.15em;text-transform:uppercase;font-family:Inter,system-ui,sans-serif;\">INFLECTION POINT</p>\n            <p style=\"margin:0 0 12px 0;font-size:11px;color:#8a8fa8;font-family:Inter,system-ui,sans-serif;\">You are at the curve. Stay sharp.</p>\n            <p style=\"margin:0;font-size:11px;color:#8a8fa8;font-family:Inter,system-ui,sans-serif;\"><a href=\"{{ $json.unsubscribe_link || '#' }}\" style=\"color:#8a8fa8;text-decoration:underline;font-family:Inter,system-ui,sans-serif;\">Unsubscribe</a> · You're receiving this because you signed up for Inflection Point.</p>\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>\n</body>\n</html>",
              "type": "string"
            },
            {
              "name": "subject",
              "value": "Inflection Point — Week of {{ $moment().startOf('week').add(1, 'day').format('MMMM D, YYYY') }}",
              "type": "string"
            },
            {
              "name": "user_email",
              "value": "{{ $json.user_email }}",
              "type": "string"
            },
            {
              "name": "claude_output",
              "value": "{{ $json.claude_output }}",
              "type": "string"
            },
            {
              "name": "user_name",
              "value": "{{ $json.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-wrap-email",
      "name": "Set — Wrap in Email Shell",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "from", "value": "Inflection Point <hello@YOUR_DOMAIN>" },
            { "name": "to", "value": "[\"{{ $json.user_email }}\"]" },
            { "name": "subject", "value": "{{ $json.subject }}" },
            { "name": "html", "value": "{{ $json.full_email_html }}" },
            { "name": "tags", "value": "[{\"name\": \"newsletter\", \"value\": \"inflection-point\"}]" }
          ]
        },
        "options": {}
      },
      "id": "node-send-email",
      "name": "HTTP Request — Send Newsletter via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2950, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "from", "value": "Inflection Point <hello@YOUR_DOMAIN>" },
            { "name": "to", "value": "[\"admin@YOUR_DOMAIN\"]" },
            { "name": "subject", "value": "[INFLECTION POINT] Quality check failed for {{ $json.user_name }}" },
            { "name": "html", "value": "<html><body style=\"font-family:monospace;padding:20px;background:#0a0a0a;color:#f0f0f0;\"><h2 style=\"color:#ff6b6b;\">Quality Check Failed</h2><p><strong>User:</strong> {{ $json.user_name }}</p><p><strong>Checks:</strong></p><ul><li>Name present: {{ $json.check_name }}</li><li>Length > 800: {{ $json.check_length }}</li><li>Sections formatted: {{ $json.check_sections }}</li><li>Exclusions respected: {{ $json.check_exclude }}</li><li>Overall quality: {{ $json.overall_quality }}</li></ul><hr style=\"border-color:#1e2030;\"><h3>Claude Output:</h3><pre style=\"white-space:pre-wrap;word-wrap:break-word;\">{{ $json.claude_output }}</pre></body></html>" }
          ]
        },
        "options": {}
      },
      "id": "node-flag-alert",
      "name": "HTTP Request — Send Flag Alert via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 400]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "⚠️_REPLACE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "send_log" },
        "options": { "range": "send_log!A:F" },
        "fieldsToSend": "autoMapInputData",
        "columns": {
          "timestamp": "={{ $now.toISO() }}",
          "user_email": "={{ $json.user_email }}",
          "user_name": "={{ $json.user_name }}",
          "quality_passed": "={{ $json.overall_quality }}",
          "subject": "={{ $json.subject }}",
          "status": "={{ $json.overall_quality ? 'sent' : 'flagged' }}"
        }
      },
      "id": "node-log-send",
      "name": "Google Sheets — Log Send",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2950, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "⚠️_REPLACE_CREDENTIAL_ID",
          "name": "⚠️_REPLACE_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[ { "node": "Google Sheets — Read All User Profiles", "type": "main", "index": 0 } ]] },
    "Google Sheets — Read All User Profiles": { "main": [[ { "node": "Split In Batches", "type": "main", "index": 0 } ]] },
    "Google Sheets — Read Latest Raw Content": { "main": [[ { "node": "Set — Build Dynamic Prompt", "type": "main", "index": 0 } ]] },
    "Split In Batches": { "main": [[ { "node": "Set — Build Dynamic Prompt", "type": "main", "index": 0 } ]] },
    "Set — Build Dynamic Prompt": { "main": [[ { "node": "HTTP Request — Claude API", "type": "main", "index": 0 } ]] },
    "HTTP Request — Claude API": { "main": [[ { "node": "Set — Extract Claude Response", "type": "main", "index": 0 } ]] },
    "Set — Extract Claude Response": { "main": [[ { "node": "Code — Quality Check", "type": "main", "index": 0 } ]] },
    "Code — Quality Check": { "main": [[ { "node": "IF — Route on Quality", "type": "main", "index": 0 } ]] },
    "IF — Route on Quality": {
      "main": [
        [ { "node": "Set — Wrap in Email Shell", "type": "main", "index": 0 } ],
        [ { "node": "HTTP Request — Send Flag Alert via Resend", "type": "main", "index": 0 } ]
      ]
    },
    "Set — Wrap in Email Shell": { "main": [[ { "node": "HTTP Request — Send Newsletter via Resend", "type": "main", "index": 0 } ]] },
    "HTTP Request — Send Newsletter via Resend": { "main": [[ { "node": "Google Sheets — Log Send", "type": "main", "index": 0 } ]] }
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false }
}
